html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  background-color: #00539f;
}

body {
    width: 500px;
    margin: 60px auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 4px solid black;
}

img {
  display: block;
  margin: 10px auto;
  width: 200px;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;

    font-size: 40px;
    text-align: center;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}