# Dipendenze (Verranno reinstallate con 'npm install')
node_modules/
dist/
build/

# Log di errore
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variabili d'ambiente (Dati sensibili/API Key)
.env
.env.local

# File di sistema e IDE
.DS_Store
.vscode/
.idea/